<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Réservation en ligne Musée du louvre{% endblock %}</title>

    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {# On charge jQuery UI depuis le site directement #}
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css">
        {# On charge le CSS de bootstrap-datepicker depuis le site directement #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css">
        <link rel="stylesheet" href="{{ asset('css/booking.css') }}">

    {% endblock %}
</head>

<body>
    <div class="container">
        <div id="header" class="row well">
            <div class="col-sm-2 text-center">
                <a href="booking" title="Accueil"><img src="{{ asset('images/louvre_logo.png') }}" alt="louvre_logo"/></a>
            </div>

            <div class="col-sm-8 text-center">
                <h1>Billetterie Officielle du Musée du Louvre</h1>
                <h2>Réservation en ligne</h2>
            </div>

            <div class="col-sm-2">
                <div class = "btn-group">
                    <button class="btn btn-default dropdown-toggle" id = "dropdownMenu" data-toggle = "dropdown">
                        Langue : fr
                        <span class = "caret"></span>
                    </button>
                    <ul class = "dropdown-menu">
                        <li><a href = "#">Français</a></li>
                        <li><a href = "#">Anglais</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="content" class="row">
            {% block body %}
            {% endblock %}
        </div>

        <footer class="row text-center">
            <a href="/cgv" title="CGV">CGV</a><a href="/contact" title="Contact">Contactez-nous</a><a href="/mentions-legales" title="Mentions légales">Mentions légales</a><br/>
            Copyright © 2018 - Tous droits de reproduction réservés<br/>
        </footer>
    </div>

    {% block javascripts %}
        {# Ajoutons ces lignes JavaScript pour nous servir des fonctionnalités du bootstrap Twitter et de jQuery UI #}
        <script
                src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous">
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.fr.min.js"></script>
        <script src="{{ asset('js/datepicker.js') }}"></script>
    {% endblock %}
</body>
</html>