<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Réservation en ligne Musée du louvre{% endblock %}</title>

    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% endblock %}
</head>

<body>
    <div class="container">
        <div id="header" class="row">
            <div class="col-sm-3 text-center">
                <a href="/" title="Accueil"><img src="louvre_logo.png" class="img-responsive" alt="louvre_logo" /></a>
            </div>
            <div class="col-sm-6 text-center">
                <h1>Billetterie Officielle du Musée du Louvre</h1>
                <h2>Réservation en ligne</h2>
            </div>
            <div id="langue" class="col-sm-3 text-center">
                <h3>Langue:</h3>
            </div>
        </div>

        <div id="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Choix de la date</li>
                <li>Votre panier</li>
                <li>Confirmation</li>
                <li>Paiement</li>
                <li>Récapitulatif</li>
            </ol>
        </div>

        <div id="content" class="row">
            <div class="col-sm-9 text-center">
                {% block body %}
                {% endblock %}
            </div>
            <aside class="col-sm-3">
                <h4>Votre panier</h4>
            </aside>
        </div>

        <div id="tarif" class="row">
            <div class="col-sm-9 text-center">
                <h3>Tarification</h3>
                <ul class="list-unstyled list-group">
                    <li class="list-group-item">Tarif normal : 16 € ( pour les 13 à 60 ans )</li>
                    <li class="list-group-item">Tarif enfant :  8 € ( pour les  4 à 12 ans )</li>
                    <li class="list-group-item">Tarif sénior : 12 € ( à partir de 60 ans )</li>
                    <li class="list-group-item">Tarif réduit : 10 € <br/>
                        ( étudiants, militaires, employés du musée ou d'un service du Ministère de la Culture )</li>
                    <li class="list-group-item">Tarif demi-journée : 8 €</li>
                    <li class="list-group-item">Entrée gratuite pour les enfants de moins de 4 ans</li>
                </ul>
            </div>
        </div>

        <footer class="row text-center">
            <a href="/cgv" title="CGV">CGV</a><a href="/contact" title="Contact">Contactez-nous</a><a href="/mentions-legales" title="Mentions légales">Mentions légales</a><br/>
            Copyright © 2018 - Tous droits de reproduction réservés<br/>
        </footer>
    </div>

    {% block javascripts %}
        {# Ajoutons ces lignes JavaScript pour nous servir des fonctionnalités du bootstrap Twitter et de jQuery UI #}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    {% endblock %}
</body>
</html>