h1 {
    font-size: x-large;
    font-weight: bold;
}

h2 {
    font-size: x-large;
}

h5 {
    font-weight: bold;
}

#datepicker {
    display: flex;
    flex-wrap : wrap;
    justify-content : center;
    margin: auto;
    max-width : 550px;
}

.activeClass{
    background: #F00;
}